header {
  position: relative;
  padding: 50px 0px;
  width: 1152px;
  margin: auto;
}

header .share {
  position: absolute;
  right: 0px;
  top: 30px;
}

.img-container {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.icon {
  position: absolute;
  bottom: 10%;
  opacity: 0;
}

.img-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-container:hover .icon {
  opacity: 1;
}

.img-container:hover #profile__img {
  filter: brightness(50%);
}

#profile__img {
  width: 50px;
}

.links-container {
  padding-bottom: 20px;
}

.links-container a {
  color: #101828;
  font-weight: 500;
  font-size: 18px;
  display: block;
  text-decoration: none;
  background-color: #eaecf0;
  width: 1152px;
  height: 76px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.links-container a:hover {
  background-color: #d6d7da;
}

footer {
  padding: 100px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1152px;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.contact-us {
  width: 800px;
  margin: 80px auto 0px;
  text-align: left;
  padding: 0px 20px;
}

@media screen and (max-width: 1200px) {
  .links-container a,
  header,
  footer {
    width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .links-container a,
  header,
  footer {
    width: 90%;
  }
  header {
    padding: 50px 0px 10px;
  }
  footer {
    display: block;
    text-align: left;
    padding-top: 80px;
  }
  .contact-us {
    width: 95%;
  }
}
